/*
	Variables
*/
$font: Helvetica, Arial, sans-serif;
$text-color: #233457;

/*
	General styling
*/
html,
body,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a, nav a, button {
  min-height: 48px !important;
  min-width: 48px;
}
img,
a,
embed,
object,
video {
  max-width: 100%;
}
a {
  display: inline-block;
  &:link {
  	text-decoration: none;
  }
  &:visited {
  	text-decoration: none;
  	color: $text-color;
  }
  &:hover {
  	@media (min-width:768px){

  	}
  	text-decoration: none;
  }
}


/*
	Components specific styling
*/

.title-app {
	@media (max-width: 450px){
		font-size: 25pt;
	}
	@media (min-width: 451px) and (max-width:767px){
		font-size: 30pt;
	}
	text-align: center;
	font-family: $font;
	font-size: 35pt;
	font-weight: 300;
}
	/*
		Restaurant list
	*/
.restaurant-list {
	@media (max-width: 450px){
		width: 100%;
		margin-left: 0;
	}
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-wrap: wrap;
}
	/*
		Filter Component
	*/
.filter-restaurants {
	width: 100%;
	color: $text-color;
	font-family: $font;
	display: flex;
	flex-wrap: wrap;
}
.filter-title {
	width: 33.3%;
	font-size: 15pt;
}
.filter-food-field {
	width: 33.3%;
}
.filter-city-field {
	
}
	/*
		Photo Component
	*/
.restaurant-snippet0 {
	@media (min-width:768px){
		width: 33.3%;
	}
	width: 100%;
	padding-top: 20px;
	font-family: $font;
	color: $text-color;
}
.restaurant-snippet1 {
	@extend .restaurant-snippet0;
}
.restaurant-snippet2 {
	@extend .restaurant-snippet0;
}

.restaurant-snippet:hover {
	@media (min-width: 451px){
		background-color: rgba(128, 128, 128, 0.2);
	}	
}
.restaurant-photo {
	width: 90%;
	height: 200px;
	margin-left: 5%;
}
.restaurant-text {
	width: 90%;
	margin-left: 5%;
}
.restaurant-title {
	font-size: 16pt;
}
.restaurant-desc {
	font-size: 9pt;
}
  /*
		Restaurant Component
  */
.restaurant-details {
	@media (max-width: 450px){
		width: 100%;
		margin-left: 0;
	}
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-wrap: wrap;	
}
  /*
		Reviews Component
  */
.reviews {
	@media (max-width: 767px){
		width: 90%;
		margin-left: 5%;
	}	
	width: 66.6%;
	font-family: $font;
	color: $text-color;
}
.reviews-title {
	font-size: 11pt;
	text-decoration: underline;
}
.review {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.review-author {
	@media (max-width: 767px){
		width: 33.3%;
		margin-left: 0;
	}
	width: 15%;
	font-size: 10pt;
}
.review-rating {
	@media (max-width: 767px){
		width: 17%;
		margin-left: 0;
	}
	width: 10%;
	font-size: 10pt;
}
.review-text {
	@media (max-width: 767px){
		width: 33.3%;
		margin-left: 0;
	}
	width: 33.3%;
	font-size: 10pt;
}
.review-date {
	@extend .review-text;
}
.reviews-form-message {
	font-size: 8pt;
}
.reviews-form-author {
	width: 30%;
	margin-right: 70%;
}
.reviews-form-rating {
	@extend .reviews-form-author;
}
.reviews-form-text {
	@extend .reviews-form-author;
}
.reviews-form-field {
	font-size: 9pt;
}
  /*
		Comments Component
  */
.comments-container {
	margin-top: 20px;
	background-color: rgba(128, 128, 128, 0.2);
	width: 80%;
	margin-left: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	font-family: $font;
	color: $text-color;
}
.comments-container-title {
	font-size: 12pt;
	text-decoration: underline;
}
.comment-unit {
	@media (max-width: 767px){
		width: 80%;
		margin-left: 0;
	}
	font-size: 10pt;
	background-color: white;
	border-radius: 50px;
	width: 40%;
	padding-left: 10%;
}
.comment-unit-btn-delete {
	float: right;
	margin-left: 40%;
	font-size: 20pt;
	background-color: white;
	border-radius: 10px;
}
.comment-form {
	margin-top: 30px;
}
.comment-form-message {
	font-size: 9pt;
}
.comment-form-author {
	width: 40%;
	margin-right: 60%;
}
.comment-form-text {
	@extend .comment-form-author;
}









